extends layout

block content
  figure.movie
    .movie__container
      h2.movie__name= title
      .intro__box
        p= description
        p
          a.movie__btn(href='movie')
            span
              | Begin
      
