extends layout

block content
  figure.movie
    .movie__container
      h2.movie__name= title
      .intro__box
        p= description
        br
        p= descriptionPL
        p
          a.movie__btn(href=`movie/${id}`)
            span
              | Begin / Rozpocznij