doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    block content
    block foot
      #footer
        p.attribution
          span This product uses the TMDb API but is not endorsed or certified by TMDb.
          img.attribution__logo(src='/static/images/tmdb_logo_dark.svg' alt='')
        