doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    block content
    block foot
      #footer
        p This product uses the TMDb API but is not endorsed or certified by TMDb.